.bulletin-container {
    margin-bottom: 75px;
    width: 100%;

    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "l r";
}

.bulletin-left {
    grid-area: l;
    height: 100%;
    width: 100%;

    display: grid;
    grid-gap: 8px;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: "header" "text" "photo";
}

.bulletin-header {
    grid-area: header;
}

.bulletin-text {
    grid-area: text;
}

.bulletin-photo {
    grid-area: photo;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    min-height: 180px;
    width: 100%;
}

.bulletin-nophoto {
    grid-area: photo;
    height: 0;
}

.bulletin-right {
    grid-area: r;

    height: 100%;
    width: 100%;

    display: grid;
    grid-gap: 10px;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: "phone" "city" "delete";
}

.bulletin-phone {
    grid-area: phone;
}

.bulletin-city {
    grid-area: city;
}

.bulletin-delete {
    grid-area: delete;
    align-self: end;
}
